<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="form-signin-heading">Your Profile</h1>
      <button type="button" class="btn btn-link pull-right" (click)="logout()">Logout</button>
      <form class="form-horizontal" *ngIf="user">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>